html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 62.5%;
  line-height: 1;
  scroll-behavior: smooth;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  /* font-family: var(--font-family); */
  font-weight: normal;
  font-size: 1.6rem;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  /* --font-family: "Poppins", sans-serif; */
}

/* * {
  box-sizing: border-box;
} */
h1 {
  font-size: clamp(3rem, 3.4vw, 4.2rem);
  /* -webkit-text-fill-color: rgba(67, 2, 151); */
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  /* -webkit-text-stroke: 1px rgba(67, 2, 151); */
  -webkit-text-stroke: 1px var(--secondary-color);
  color: none;
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 1.3;
}

h1 span {
  /* -webkit-text-fill-color: white; */
  -webkit-text-fill-color: purple;
  -webkit-text-stroke: 1px purple;
}

p {
  font-size: clamp(1.6rem, 1.6vw, 2rem);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}